
.vs/PatternsOOP/v16/Browse.VC.db
.vs/PatternsOOP/v16/Browse.VC.db-shm
.vs/PatternsOOP/v16/Browse.VC.db-wal
.vs/PatternsOOP/v16/Browse.VC.opendb
.vs/PatternsOOP/v15/Browse.VC.db
.vs/PatternsOOP/v15/Browse.VC.opendb
